

/* progress bar  design */


.progress-bar {
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  height: 100px;
  width: 402px;
  background: linear-gradient(to right, #E3F2FD 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #e3f2fd 25%, rgba(0, 0, 0, 0) 30%);
  background-position: 0% 50%, -15px 50%;
  background-size: 100% 5px, 54px 70px;  
  background-repeat: no-repeat, repeat-x;
  box-shadow:none;
}
.progress-now {
  position: absolute;
  width: 400px;
  height: 102px;
  background: linear-gradient(to right, #2196F3 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #2196f3 25%, rgba(0, 0, 0, 0) 30%);
  background-position: 0% 50%, -15px 50%;  
  background-size: 100% 5px, 54px 70px;    
  background-repeat: no-repeat, repeat-x;
}

.bodyContent{
	margin:auto;
	text-align:center;
	
}
.progressSection{
	position:relative;
	min-height:180px
}




/* button design */

.panelSection{
	position:relative;
	width:100%;
	min-height:150px;
	transition:1s;
	margin:auto;	
	margin-top:2%;
	
}

.panelSection:hover{
	cursor:pointer;

}

.panelSection:hover .cardBoardTopic,
.panelSection:hover .cardBoardDescription {
	color:orange;
	
}

.cardBoard:before{
	transition:1s;
	content:"";
	z-index:0;
	position:absolute;
	left:0;
	width:100%;
	filter: brightness(0.5);
	height:100%;

	top:0;
}
.cardBoard_1:before{
	
	background-image: url("../../images/bg-1.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.cardBoard_2:before{
	
	background-image: url("../../images/bg-2.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.cardBoard_3:before{
	
	background-image: url("../../images/bg-3.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.cardBoard_4:before{
	
	background-image: url("../../images/bg-2.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.cardBoard{
	width:100%;
	height:100%;
	position:absolute;	

}

.cardBoardContent{   
  position: absolute;
  top: 30%;
  width:100%;
  right:5%;
  text-align: right !important;
  
}

.cardBoardTopic{
	text-align: right  !important;
	transition:1s;
	text-align:center;
	color:white;
	font-weight:700;
	font-size:200%;
}

.cardBoardDescription{
	transition:1s;	
	color:white;
}
