
.circle{
	width:130px;
	height:130px;
	border:3px solid gray;
	margin:auto;
	display:flex;
	border-radius:100%;
	align-items:center;
	justify-content :center;	
}
.circleInput{
	border:none;
	outline:none;
	color:gray;
	text-align:center;
	background:transparent;	
	font-size:200%;
	font-weight:700;
}
.circleInput::placeholder {
  color: white;
}
.circleInput:hover{

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.inputRow{
	margin-top:3%;

}

.userList{
	width:50%;
	height:30px;
}

.inputRow p{
	text-align:center;
	padding-top:2%;
}

